h1{
    font-size: 40px;
    font-family: 'Holtwood One SC', serif;
}
h2{
    font-size: 30px;

}
p{
    color: dimgray;
}
.name-highlight{
    color: darkcyan;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding-top: 4%;
}
.top-banner{
    border: 1px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 550px;
}
body{
    margin: 0px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, slategray, darkcyan);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    margin-left: 75px;
    box-shadow: 10px 10px 40px gray ;
    border-radius: 7px;
    height: 50%;

}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, slategray, darkcyan);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}